/* src/components/MarketMaps.css */
.market-maps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.market-map-box {
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  text-align: left;
  text-decoration: none;
  color: black;
}

.market-map-box h3 {
  margin: 10px 0;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.market-map-box p {
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 0.9em;
  color: #666;
}