/* src/components/MarketMaps.css */

.market-maps-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.market-map-box {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;  /* Ensure links do not have underline */
  color: inherit;  /* Inherit text color */
}

.market-map-box:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.market-map-box h3 {
  margin-top: 0;
}

.market-map-box p {
  margin: 10px 0 0;
}