/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0; /* Remove default padding */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure full width */
  min-height: 100vh;
  box-sizing: border-box; /* Include padding and border in width/height */
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%; /* Ensure full width */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 70px; /* Add padding to account for fixed header height */
  padding-left: 20px; /* Add left padding */
  padding-right: 20px; /* Add right padding */
  padding-bottom: 40px; /* Ensure adequate space for the footer */
  box-sizing: border-box; /* Include padding in width/height */
}